.popup__button {
  background-color: black;
  border: none;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: .1s;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}

.popup__button:hover {
  opacity: 0.8;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .popup__button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
