.elements__delete {
  background-image: url('../../../images/delete.svg');
  width: 18px;
  height: 19.3px;
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
}

.elements__delete:hover {
  cursor: pointer;
  opacity: 0.6;
}