.elements__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  margin: 0 auto;
  max-width: 880px;
  padding: 0;
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .elements__container {
    gap: 20px;
  }
}