  .popup__input {
    font-size: 14px;
    line-height: 1.2;
    padding: 12px 0;
    border: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .popup__input:focus {
    outline: 0;
  }
