.header {
  margin: 0 auto;
  max-width: 880px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 400px) {
  .header {
    padding-top: 28px;
  }
}